<section>
    <div class="form-container">
        <h1>cargar experiencia</h1>
        <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
            <div class="control">
                <label for="nombreExp">Nombre Experiencia</label>
                <input type="text" 
                       id="nombreExp"  
                       name="nombreExp" 
                       [(ngModel)]="nombreExp" required>
            </div>
            <div class="control">
                <label for="descripcionExp">Descripcion Experiencia</label>
                <input type="text" 
                       name="descripcionExp" 
                       id="descripcionExp"
                       [(ngModel)]="descripcionExp" required>
            </div>
            <div class="control">
                <input type="submit" value="Cargar">
            </div>
        </form>
    </div>
</section>
