<section>
    <div class="form-container">
        <h1>iniciar sesión</h1>
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="control">
                <label for="nombreUsuario">usuario</label>
                <input type="text" 
                       id="nombreUsuario"  
                       name="nombreUsuario" 
                       [(ngModel)]="nombreUsuario" required>
            </div>
            <div class="control">
                <label for="password">contraseña</label>
                <input type="password" 
                       name="password" 
                       id="password"
                       [(ngModel)]="password" required>
            </div>
            <div class="control">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</section>
