section{
    width: 100%;
    height: auto;
    background-image: url(../../../assets/formacion-nebulosa.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    text-shadow: 2px 2px black;
    color: white;
}
.experiencia-titulo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.experiencia-titulo h2{
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1.5em;
    color: #ffffff;
}
.experiencia-titulo button{
    width: 40%;
    background:royalblue;
    color:#fff;
    text-transform:uppercase;
    font-size:1em;
    margin-right: 1em;
    margin-top: 1em;
    height: 40px;  
    transition: transform;
}
.experiencia-titulo button:hover{
    scale:1.02;
}
@media screen and (min-width:600px){
    .experiencia-titulo button{
        width: 20%;
    }
}
@media screen and (min-width:912px) {
    .experiencia-titulo h2{
        font-size: 35px;
    }
    .experiencia-titulo button{
        margin: 2.2rem;
    }
}
.experiencia-lista{
    width: 95%;
    height: auto;  
}
.experiencia-lista tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.experiencia-lista tr{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.experiencia-lista td{
    margin: .5em;
    text-shadow: 2px 2px black;
    color: white;
    justify-content: space-between;
}
.experiencia-lista h2{
    font-weight: 600;
    font-size: 1.5em;
}
.experiencia-lista button{
    background:royalblue;
    color:#fff;
    text-transform:uppercase;
    font-size:1em;
    height: 40px;  
    transition: transform;
}
.experiencia-lista button:hover{
    scale:1.02;
}
@media screen and (min-width:768px) {
    .experiencia-lista tr{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }  
}
.separacion{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(135deg,#25184d, #121d70);
    background-size: 500%;
    animation: fanimado 2s infinite;
}
@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}