section{
    padding-top: 1rem;
    text-shadow: 2px 2px black;
    color: white;
}
#proyectos{
    width: 100%;
    background-image: url(../../../assets/fondo-proyectos.avif);
}
#proyectos h2{
    color: #ffffff;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
.proyecto-item{
    width: 100%;
    height: auto;
}
.proyecto-item img{
    width: 270px;
    height: 144px;
    margin-left: 2.5rem;
}
.proyecto-item p{
    color: #ffffff;
    font-size: .8em;
}
.proyecto-item h3{
    font-size: 1em;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
}
.proyecto-item p{
    font-size: 14px;
    text-align: center;
    padding-bottom: 1rem;
}
.proyecto-item div{
    text-align: center;
}
.proyecto-item button{
    padding: 1em;
    font-size: 16px;
    margin-left: 1em; 
    transition: 0.5s all;  
    color: royalblue; 
}
.proyecto-item button:hover{
    transform: scale(1.1);
}
@media screen and (min-width:480px) {
    .proyecto-item img{
        text-align: center;
        width: 400px;
        height: 180px;
    }
    .proyecto-item h3{
        text-align: start;
        margin-left: 1.5rem;
    }
    .proyecto-item p{
        text-align: start;
        margin-left: 2.5rem;
    }
    .proyecto-item div{
        text-align: start;
        margin-left: 1.5rem;
    }
}
@media screen and (min-width:1024px) {
    #proyectos h2{
        font-size: 35px;
        padding: 3rem;
    }
    .proyecto-item{
        height: 581px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .proyecto-item img{
        width: 752px;
        height: 406px;
    }
    .proyecto-item h3{
        font-size: 22px;
        margin-top: 11rem;
    }
    .proyecto-item p{
        font-size: 16px;
        margin-top: 15rem;
        margin-left: -8.5rem;
    }
    .proyecto-item div{
        margin-left: -14rem;
        margin-top: 18rem;
    }
}