<body> 
    <nav class="main-nav">

        <div class="icon-menu" id="icon-menu">
            <label for="icon-menu-check"><img src="../../../assets/icono-menu.png" alt="menu"></label>
        </div>

        <input type="checkbox" 
                   class="icon-menu__check"
                   id="icon-menu-check">

        <ul class="main-menu" id="main-menu">
            <li class="main-menu__item"><a href="#inicio">Inicio</a></li>
            <li class="main-menu__item"><a href="#sobre-mi">Sobre mi</a></li>
            <li class="main-menu__item"><a href="#skills">Skills</a></li>
            <li class="main-menu__item"><a href="#formacion">Formación</a></li>
            <li class="main-menu__item"><a href="#proyectos">Proyectos</a></li>
            <button (click)="login()" *ngIf="!isLogged">Iniciar</button>
            <button (click)="onLogOut()" *ngIf="isLogged">Salir</button>
        </ul>
    </nav>
    
</body>