<section id="sobre-mi">
    <h2>
       Sobre mi 
    </h2>
    <p>
        Actualmente me encuentro en búsqueda de un empleo que me permita seguir formándome como profesional.<br>
        Y que me ayude a sentar las bases de mi aprendizaje como desarrollador. Mis mejores cualidades son la <br>
        capacidad de trabajo en equipo, empatía y ganas de superarme para conseguir mis metas.
        <br>
        <br>
        Cómo mencioné arriba, la mayor parte de mi aprendizaje se basa en ser autodidacta, pero también pienso<br>
        hacer una carrera universitaria para adquirir aún más conocimientos, tengo un trabajo de medio tiempo,<br>
        asimismo estoy dispuesto a sacrificarlo para dedicarme al desarrollo, que es lo que me apasiona.
    </p>
</section>
<div class="separacion"></div>