#sobre-mi{
    width: 100%;
    background-image: linear-gradient(135deg,
    #25184d, #51254b);
    background-size: 500%;
    animation: fanimado 5s infinite;
    padding-bottom: 2rem;
}
@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
#sobre-mi h2{
    width: 90%;
    font-size: 22px;
    font-weight: 700;
    padding: 1rem;
    color: #ffffff;
}
#sobre-mi p{
    width: 90%;
    height: 70%;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
@media screen and (min-width:480px) {
    #sobre-mi{
        height: 300px;
    }
    #sobre-mi h2{
        padding-top: 2rem;
        padding-left: 1rem;
        padding-bottom: 0;
    }
    #sobre-mi p{
        height: 112px; 
        padding: 0.5rem 2rem 2rem 1rem;
    }
}
@media screen and (min-width: 650px) {
    #sobre-mi{
        height: 275px;
    }
}
@media screen and (min-width: 768px) {
    #sobre-mi{
        height: 250px;
    }
    #sobre-mi{
        padding-top: .5rem;
    }
}
@media screen and (min-width:912px) {
    #sobre-mi{
        height: 400px;
    }
    #sobre-mi h2{
        font-size: 35px;
        margin-left: 2rem;
        padding-top: 2rem;
    }
    #sobre-mi p{
        width: 75%;
        font-size: 24px;
        margin-left: 2rem;
        padding-top: 2rem;
    }
}