<section>

    <div id="bloque-titulo">

        <div class="bloque-skills_titulo">
            <h2>
                Soft-Skills
            </h2>
        </div>

    </div>

    <div class="bloque-skills">
        <ul>
            <li>
                <div class="bloque-skills_item">
                    <img src="../../../assets/Perfile-personas-comunicándose-768x474.webp" alt="Comunicación" class="comunicacion">
                    <p>Comunicación</p>
                </div>
            </li>

            <li>
                <div class="bloque-skills_item">
                    <img src="../../../assets/trabajo-en-equipo.jpg" alt="trabajo-en-equipo" class="trabajo-en-equipo">
                    <p>Trabajo en equipo</p>
                </div>
            </li>

            <li>
                <div class="bloque-skills_item">
                    <img src="../../../assets/actitud-positiva-rgb.jpg" alt="actitud-positiva" class="actitud-positiva">
                    <p>Actitud positiva</p>
                </div>
            </li>

            <li>
                <div class="bloque-skills_item">
                    <img src="../../../assets/actitud-prodesional.png" alt="actitud-profesional" class="actitud-profesional">
                    <p>Actitud profesional</p>
                </div>
            </li>

            <li>
                <div class="bloque-skills_item">
                    <img src="../../../assets/flexibilidad-laboral.jpg" alt="Flexibilidad" class="flexibilidad">
                    <p>Flexibilidad</p>
                </div>
            </li>

            <li>
                <div class="bloque-skills_item">
                        <img src="../../../assets/responsabilidad.jpg" alt="responsabilidad" class="responsabilidad">
                        <p>Responsabilidad</p>
                    </div> 
            </li>

        </ul>

    </div>

</section>
