<section id="skills">
  <div id="bloque-titulo">
    <div class="bloque-skills_titulo">
      <h2>Hard-Skills</h2>
      <button routerLink="/nueva-skills" *ngIf="isLogged">Nueva Skill</button>
    </div>
  </div>

  <div class="bloque-skills">
    <ul>
      <li>
        <div class="bloque-skills_item" *ngFor="let skill of skill">
          <circle-progress
          [percent]="(skill.porcentajeS)" 
          [radius]="90" 
          [imageSrc]="''" 
          [title]="(skill.nombreS)"
          [titleColor]="'#ffffff'"
          [showTitle]="true" 
          [showImage]="false" 
          [imageHeight]="70" 
          [imageWidth]="70" 
          [showUnits]="false"
          [showSubtitle]="false" 
          [outerStrokeWidth]="16" 
          [innerStrokeWidth]="2" 
          [outerStrokeColor]="'crimson'"
          [innerStrokeColor]="'crimson'" 
          [animation]="true" 
          [animationDuration]="100">
          >
          </circle-progress>
          <td *ngIf="isLogged"><button routerLink="/editarskill/{{skill.id}}">Editar</button></td>
          <td *ngIf="isLogged"><button (click)="borrar(skill.id)">Borrar</button></td>
        </div>
      </li>
    </ul>
  </div>
</section>
