<section id="skills">
  <div id="bloque-titulo">
      <h2>Skills</h2>
      <button routerLink="/nuevaskill" *ngIf="isLogged">Nueva Skill</button>
  </div>

  <div class="bloque-skills">

        <div class="bloque-skills_item" *ngFor="let skill of skill">
          <circle-progress
          [percent]="100"
          [radius]="70" 
          [imageSrc]="''" 
          [title]="(skill.nombreS)"
          [titleColor]="'#ffffff'"
          [showTitle]="true" 
          [showImage]="false" 
          [imageHeight]="70" 
          [imageWidth]="70" 
          [showUnits]="false"
          [showSubtitle]="false" 
          [outerStrokeWidth]="16" 
          [innerStrokeWidth]="2" 
          [outerStrokeColor]="'#6d71c5'"
          [innerStrokeColor]="'#6d71c5'" 
          [animation]="true" 
          [animationDuration]="500">
          >
          </circle-progress>
          <td *ngIf="isLogged"><button routerLink="/editarskill/{{skill.id}}">Editar</button></td>
          <td *ngIf="isLogged"><button (click)="borrar(skill.id)">Borrar</button></td>
        </div>
  </div>
</section>
<div class="separacion"></div>
