<section>
    <div class="form-container">
        <h1>nueva skill</h1>
        <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
            <div class="control">
                <label for="nombreS">Nombre Skill</label>
                <input type="text" 
                       id="nombreS"  
                       name="nombreS" 
                       [(ngModel)]="nombreS" required>
            </div>
            <div class="control">
                <label for="porcentajeS">Porcentaje</label>
                <input type="text" 
                       name="porcentajeS" 
                       id="porcentajeS"
                       [(ngModel)]="porcentajeS" required>
            </div>
            <div class="control">
                <input type="submit" value="Cargar Skill">
            </div>
        </form>
    </div>
</section>
