.presentacion{
    width: 100%;
    background-image: linear-gradient(135deg,#25184d, #51254b);
    background-size: 500%;
    animation: fanimado 5s infinite;
    font-family: initial;
    color: white;
    display: flex;
    flex-direction: column-reverse;
}
@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.presentacion img{
    width: 110px;
    height: 110px;
    border-radius: 10rem;
    margin: 6rem 1rem 0 1rem;
}
.titulos{
    margin-bottom: 1rem;
}
.titulos h1{
    font-size: 22px;
    font-weight: 700;
    padding: 1rem;
    color: #ffffff;
}
.titulos h3{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
}
.nav-presentacion{
    height: 50px;
    display: flex;
    background-image: linear-gradient(#25184d, #121d70);
    padding-left: 0.5rem;
}
.nav-presentacion img{
    width: 30px;
    height: 30px;
}
.nav-presentacion a{
    padding-top: .5rem;
    margin-left: 10px;
    margin-bottom: 2rem;
}
@media screen and (min-width: 480px) {
    .presentacion{
        width: 100%;
    }  
    .presentacion img{
        width: 150px;
        height: 150px;
    }
}
    
@media screen and (min-width:912px) {
    .presentacion{
        padding-bottom: 2rem;
    }
    .titulos h1{
        font-size: 40px;
        padding-top: 2rem;
        padding-left: 3rem;
    }
    .titulos h3{
        font-size: 24px;
        width: 75%;
        padding-top: 2rem;
        padding-left: 3rem;
    }
    .presentacion img{ 
        width: 180px;
        height: 180px;
        margin-top: 5rem;
        margin-left: 2rem;
    }
    .nav-presentacion{
        height: 100px;
    }
    .nav-presentacion img{
        padding-left: 2rem;
        width: 75px;
        height: 75px;
    }
}
@media screen and (min-width: 1024px) {
    .presentacion img{
        height: 200px;
        width: 200px;
    }
}