<section>
    <div class="presentacion">
        <div class="titulos">
             <h1  id="inicio">Adrián Barros: <br>Desarrollador Full-Stack</h1>

             <h3>Soy un estudiante en mayor parte autodidacta con
             muchas ganas de seguir aprendendiendo, comencé mi
             formación en el año 2021, y continuó hasta el día de la fecha</h3>
         </div>
         <img src="../../../assets/foto de perfil.jpg" alt="perfil">
     </div>
     <div class="nav-presentacion">
        <a href="https://github.com/aadriaan98"> <img src="../../../assets/github.png"></a>
        <a href="https://www.linkedin.com/in/adri%C3%A1n-barros-79158a17a/"> <img src="../../../assets/linkedin.png"></a>
        <a href="https://www.instagram.com/adriaan_barros/"> <img src="../../../assets/instagram.png"></a>
        <a href="mailto:adrianricardo123barros@gmail.com"> <img class="correo" src="../../../assets/correo.png" alt=""></a>
     </div>
 </section>